# Ignore everything by default
*

# Keep structure
!.gitignore
!README.md
!backend/**
!frontend/**

# Global ignore patterns
*.log
.env
application.properties
.idea/
.gradle/
build/
MedEase project/
# Ignore log files
*.log
logs/
